# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Flask instance folder (used for local config, e.g., SQLite DB)
instance/
.webassets-cache

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Logs
*.log
logs/

# SQLite DB files
*.sqlite
*.sqlite3
*.db

# Environment
#.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# VSCode / PyCharm / IDE settings
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS / Linux / Windows system files
.DS_Store
Thumbs.db